body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;

}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;

}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}



div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
#footer {
  background-color: #000000;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 0;
  position: fixed;
  bottom: 0px;
}

#footer ul li {
  list-style: none;
}

#footer a {
  color: #ffffff;
}

.sign-up {
  background-color: blue;
  color: #ffffff;
}

.num {
  font-size: 40px;
  float: left;
  margin: -10px 20px 20px 20px;
  font-weight: bold;
}

.infoDiv {
  padding: 10px;
  border-radius: 3px;
}

.infoDiv h1 {
  font-size: 14px;
}

.infoDiv p {
  font-size: 12px;
}

.infoDiv a {
  color: #ffffff;
}