<div class="row">
	<h1>About Find.it</h1>
</div>
<div class="row">
	<div class="col-md-7 col-md-offset-1">
		<p class="intro">Welcome to Find.it, the largest and most comprehensive website devoted exclusively to the recovery of pets and personal property.</p>
		<p>Our sole purpose is to reunite lost and found pets and property to their respective owners using the dynamic communication channels provided by the Internet. What could be more satisfying than returning the family dog or engagement ring to their respective owners?</p>
	</div>
	<div class="col-md-3 col-md-offset-1 well sign-up">
		<p><strong>Easy to Use Tool...</strong></p>
		<p>Luckily Kitty came back by himself, but the ease at which I entered details and then was able to remove them was effortless. Thanks!</p>
	</div>
</div>




