<h1>Contact Us</h1>
<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<p><strong>Contact our webmaster:</strong></p>
		<p>Please use this form if there is an issue you feel our webmaster should be aware of. This is for technical inquiries only.</p>
		<p><strong>Write to us!</strong></p>
		<p>We always look forward to hearing from people who are using our service.
		Feel free to include your comments and suggestions.</p>
		<p><strong>Testimonials:</strong></p>
		<p>We always look forward to hearing about how people are benefiting from our service. Please write to us!</p>
		<p><strong>Report inappropriate listing:</strong></p>
		<p>Find.it is dedicated to providing a useful service to everyone. If you find anything offensive, please let us know so we can correct the problem.</p>
	</div>
</div>

