<script>
$(document).ready(function() {
	initialize();
});
</script>

<h1>San Francisco's Premier Lost and Found Resource</h1>
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div id="map-div">
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">

				<% @posts.each do |post| %> 
				<div class="well">
					<h4><%= post.status %></h4>
					<p><a href="/posts/<%= post.id %>"><%= post.title %></a></p>

					<p><%= post.description %></p>
				</div>
				<% end %>

			</div>
			<div class="col-md-4">
				<div class="well sign-up">
					<p><strong>Connecting is easy as 1-2-3</strong></p>
					<div class="row"><span class="num">1</span><p>Sign up today to create an account</p></div>
					<div class="row"><span class="num">2</span><p>Create a post. Your personal information will be kept private.</p></div>
					<div class="row"><span class="num">3</span><p>Help someone find a lost item or pet, OR get some help finding yours.</p></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

function initialize() {
	
	var mapOptions = {
		center: new google.maps.LatLng(37.783333, -122.416667),
		zoom: 13,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	}; // end mapOptions

	var map = new google.maps.Map(document.getElementById('map-div'), mapOptions);

	google.maps.event.addDomListener(window, 'load', initialize);

	var geocoder = new google.maps.Geocoder();

	var addresses =
	   	$.get('/posts.json').
	   	done(function (data) {
	   		var addressArray = [];
	   		var titleArray = [];
			// loop through data and get locations
			for(var i = 0; i < data.length; i++) {
				addressArray.push(data[i].location);
				titleArray.push(data[i].title);	
				$.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address='+data[i].location+ ' San Francisco, CA' +'&sensor=false', null, function (data) {
					var p = data.results[0].geometry.location;
					var latlng = new google.maps.LatLng(p.lat,p.lng);
					new google.maps.Marker({
						position: latlng,
						map: map
					});
				})
			}


	   	}); // end done

}//end initialize

</script>
