
<script>
$(document).ready(function() {
	initialize();
});
</script>

<h1>San Francisco's Premier Lost and Found Resource</h1>
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div id="map-div">
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">

				<% @posts.each do |post| %> 
				<div class="well">
					<h4><%= post.status %></h4>
					<p><a href="/posts/<%= post.id %>"><%= post.title %></a></p>

					<p><%= post.description %></p>
				</div>
				<% end %>

			</div>
			<div class="col-md-4">
				<div class="well sign-up">
					<p><strong>Connecting is easy as 1-2-3</strong></p>
					<div class="row"><span class="num">1</span><p>Sign up today to create an account</p></div>
					<div class="row"><span class="num">2</span><p>Create a post. Your personal information will be kept private.</p></div>
					<div class="row"><span class="num">3</span><p>Help someone find a lost item or pet, OR get some help finding yours.</p></div>
				</div>
			</div>
		</div>
	</div>
</div>

